html{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header__nav{
margin: 1em 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.header__nav-items{
    display: inline-block;
    text-transform: uppercase;
    align-items: center;
    padding: 0 1.5rem;
}
.banner{
    background-image: url("./img/top-img.png");
    height: 790px;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position-x: center;
}
.container__title{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 2rem;
}
.container__btn{
    text-transform: uppercase;
    text-align: center;
}
.link{
    color: white;
    text-decoration: none;
    background-color: #16a085;
    display: inline-block;
    margin: 2rem 0 4rem 0;
    padding: 1rem 3rem;
}
.link-2{
    color: #16a085;
    font-weight: bold;
    text-decoration: none;
}
.container{
    background-image: url("./img/bgnd.png");
    padding: 1rem 0;
    width: 100%;
    margin: 0;
}
.container__text{
    padding: 1rem 5rem;
    text-align: center;
}
.footer{
    text-align: right;
    font-weight: bold;
    padding: 2rem 1rem;
}