html{
    font-size: 16px;
}
.banner{
    background-image: url("./img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1.png");
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
}
.banner__information-title{
    font-size: 2.5rem;
width: 600px;
}
.banner__information{
    color: white;
    margin-left: 20%;
    padding-top: 110px;
    transform: translateX(-100vw);
    transition: all 2s;
}
.banner:hover .banner__information{
transform: translateX(0);
}

.link{
    text-decoration: none;
    color: #354657;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box-two__menu{
    list-style-type: none;
    height: 75%;
    width: 60%;
    box-sizing: border-box;
}
.box-two__menu-items{
    display: inline-block;
}
.box{
    display: flex;
    justify-content: space-around;
    height: 70px;
}
.box-one{
    width: 30%;
}
.box-two{
width: 60%;
}
.box-three__form{
    list-style-type: none;
    height: 75%;
    width: 60%;
    box-sizing: border-box;
}