.container{
    width: 90%;
    margin: 0 auto;
}
.header__nav{
    margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }
    .header__nav-items{
        display: inline-block;
        align-items: center;
        padding: 0 1.5rem;
    }
      .header{
          background-color: #35444f;
          padding: 0.5rem;
          margin: 0 auto;
      }
      .link{
          text-decoration: none;
          color: white;
      }
      .box{
          height: 529px;
          display: flex;
          justify-content: space-between;
          margin: 2.5rem auto;
      }
      .box > .box-one{
          border: 1px solid black;
          height: 75%;
          width: 24%;
          box-sizing: border-box;
          display: inline-block;
      }
      .box > .box-two{
        border: 1px solid black;
        height: 100%;
        width: 70%;
        box-sizing: border-box;
        display: inline-block;
    }
    .link-two{
        text-decoration: none;
        color:#55636d;
    }
    .box-one__menu{
        list-style: none;
        padding: auto;
    }
    .box-one__menu-items{
        padding: 1.6rem 0 1.6rem 1rem;
    }
    .box-two{
        background-image: url("./img/top-img@1X.png"), url("./img/top-img-fon@1X.png");
        background-repeat: no-repeat;
        background-size: 220px, 885px;
        background-position: center;
    }
    .text{
        max-width: 820px;
        padding: 0 0 1rem 24rem;
    }
    .box-footer-one__menu{
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: left;
    }
    .box-footer-one__menu-items{
        display: inline-block;
        align-items: center;
        padding: 0 1.3rem;
    }
    .link-three{
        text-decoration: none;
        color: black;
    }
    .box-footer{
        background-color: #b4b7ba;
          padding: 0.8rem 0;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
    }
    .box-footer-one{
        width: 70%;
    }
    .box-footer-two{
        width: 15%;
    }
    